# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
.vscode/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Coverage
coverage/

# Generated
*.g.dart
*.freezed.dart
